* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
background: linear-gradient(to right, #EC6EAD, #3494E6);

}





.box {
    height: 620px;
    width: 400px;
    margin: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

img {
    height: 300px;
    width: 300px;
    margin-top: 20px;
}

h1:hover {
    cursor: pointer;
    scale: 1.25;
}

h3 {
    margin-top: 20px;
}

h1 {
    margin: 20px;
    color: red
}